
@font-face {
    font-family: 'GothamRoundedBold';
    src: url("fonts/GothamRounded-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'GothamLightRegular';
    src: url("fonts/GothamLightRegular.otf") format("opentype");
}

@font-face {
    font-family: 'LucidaGrande';
    src: url("fonts/LucidaGrande.ttf") format("truetype");
}

@font-face {
     font-family: 'lucida-grande';
     src: url('fonts/LucidaGrande.ttf');
 }

 @font-face {
     font-family: 'gotham-rounded-bold';
     src: url('fonts/GothamRoundedBold.ttf');
 }

 @font-face {
     font-family: 'abril-fatface';
     src: url('fonts/AbrilFatfaceRegular.otf');
 }

 @font-face {
     font-family: 'gotham-light';
     src: url('fonts/GothamLight.ttf');
 }

 @font-face {
     font-family: 'gotham-regular';
     src: url('fonts/GothamRounded.ttf');
 }
 
 @font-face {
    font-family: 'gotham-medium-regular';
    src: url('fonts/gothammediumregular.ttf');
}

.btn-dark-color{
    width: calc( 200px + ( 295 - 200 ) * ((100vw - 300px) / (1600 - 300))) !important;
    height: calc( 70px + ( 85 - 70 ) * ((100vw - 300px) / (1600 - 300))) !important;
    color: #ffffff;
    background-color: #1D1D1B ;
    font-family: lucida-grande;
    font-size: calc(17px + (22 - 17) * ((100vw - 300px) / (1600 - 300)));
    
}

.bg-yellow{
    background-color: #FFC900 ;
}

.btn-dark-color:hover{
    color: #ffffff;
}

.bg-red{
    background-color: #D54345 ;
    height: 100%;
    padding: 10% 3% 17% 3%;
    
}

.heading-specialise{
    font-size: calc(50px + (75 - 50) * ((100vw - 300px) / (1600 - 300)));
    font-family: gotham-rounded-bold;
    font-weight: bolder;
    color: #FFFFFF;
    padding-bottom: 1em;
}

.underline_text{
    text-decoration: underline;
    font-family: abril-fatface;
    font-weight: 50;
   
}

.p_au{
    font-size: 22px;
    font-family: gotham-light;
    color: #FFFFFF;
    padding-bottom: 3em;
}
.block1_wrapper{
    width: 75%;
   
    padding-bottom: 1em;
}

.img_ab_1{
    z-index: 2;
}

.carousel-control-next, .carousel-control-prev { border: 0; }

.top-content { 
    width: 97%;
    bottom: -125px;
    position: absolute;
    padding-right: 26px;

}


.title-lucida {
    font-size: calc(32px + (45 - 32) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    font-family: lucida-grande;
}

 .subtitle-sub {
    font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
    font-family: gotham-light;
    padding-bottom: 2em;
    margin-bottom: 0;
}
 .subtitle-sub-nopad {
    font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
    font-family: gotham-light;
    line-height:35px;
}
.subtitle-sub-nopad-lg {
   font-size: calc(20px + (23 - 20) * ((100vw - 300px) / (1600 - 300)));
   font-family: gotham-light;
   line-height:35px;
}

 .gotham-medium-regular{
    font-size: calc(20px + (23 - 20) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    font-family: gotham-medium-regular;
 }

 .subtitle-red {
    font-size: calc(26px + (32 - 26) * ((100vw - 300px) / (1600 - 300)));
    color: #D54345;
    font-family: gotham-regular;
    margin: 0;
}

.subtitle-red-pad {
    font-size: calc(26px + (32 - 26) * ((100vw - 300px) / (1600 - 300)));
    color: #D54345;
    font-family: gotham-regular;
    margin: 0;
    margin-bottom: 10px;
    line-height: 40px;
}

.subtitle-red-pad-sm {
    font-size: calc(23px + (26 - 23) * ((100vw - 300px) / (1600 - 300)));
    color: #D54345;
    font-family: gotham-regular;
    margin: 0;
    margin-bottom: 10px;
    line-height: 40px;
}

.abril-fatface-40{
    font-size: calc(35px + (40 - 35) * ((100vw - 300px) / (1600 - 300)));
    color: #D54345;
    font-family: abril-fatface;
}
.text-gray{
    color:#818181;
}

.background-gray{
    background-color:#818181;
}

.vertical-margin-35px{
    margin-top:35px;
    margin-bottom:35px;
}

 .standard-margin{
     padding:20% 2.5% 5% 2.5%;
 }

 .standard-margin2{
    padding:20% 2.5% 5% 2.5%;
 }

 .r1-margin{
     padding-right:33.3%;
 }
 .r2-margin{
     padding-right:8.1%;
 }
 .col-pad{
    padding-right: 5%;
 }
 .img-1-fix{
     width:100%;
     height:100%;
 }

 

 .yellow_heading_wrapper{
     width: 70%;
     padding-top: 5%;
     padding-right: 2.5%;
     padding-bottom: 3%;
     padding-left: 4%;
 }

 .yellow_heading_wrapper h1{
    font-size: 50px;
    font-family: lucida-grande;
    font-weight: bold;
    padding-bottom: 3%;
 }

 .yellow_heading_wrapper p{
    font-family: gotham-light;
    font-size: 23px;
    font-weight: 300;
 }

 .yellow_desc_wrapper{
    width: 100%;
    padding-right: 2.5%;
    padding-bottom: 3%;
    padding-left: 4%;
 }
 .yellow_desc_wrapper2{
    width: 100%;
    padding-right: 2.5%;
    padding-bottom: 3%;
    padding-left: 4%;
 }

 .yellow_desc_wrapper2 img{
    width: 100%;
    height: auto;
    padding-bottom: 5%;
}

.yellow_desc_wrapper2 h2{
    font-size: 32px;
    font-weight: bolder;
    font-family: gotham-rounded-bold;
    color: #D54345;
    padding-bottom: 5%;
}

.yellow_desc_wrapper2 ul {
   font-size: 20px;
   font-family: gotham-rounded-bold;
   font-weight: 100;
}

 .yellow_desc_wrapper img{
    width: 100%;
    height: auto;
    padding-bottom: 5%;
 }

 .yellow_desc_wrapper h2{
    font-size: 32px;
    font-weight: bolder;
    font-family: gotham-rounded-bold;
    color: #D54345;
    padding-bottom: 5%;
 }

 .yellow_desc_wrapper ul {
    font-size: 20px;
    font-family: gotham-rounded-bold;
    font-weight: 100;
 }
 

 @media screen and (max-width:768px){

    .standard-margin2{
        padding: 10% 2.5% 5% 11.5%;
    }
    .top-content{
        width: unset;
    }
    .standard-margin{
        padding:44% 12.5% 5% 12.5%;
        }
    .col-pad{
        margin-bottom:5%;
    }
    .r1-margin{
        padding-right:0;
    }
    .bg-red{
        padding: 10% 3% 56% 12%;
    }
    .block1_wrapper{
        width: 100%;
    }

    .yellow_heading_wrapper{
        width: 100%;
        padding-left: 14%;
        padding-top: 14%;
    }

    .yellow_desc_wrapper{
        padding-left: 14%;
        padding-right: 10.5%;
    }
    .yellow_desc_wrapper2{
        padding-left: 14%;
        padding-right: 10.5%;
    }

    .yellow_heading_wrapper2{
        width: 100%;
        padding-left: 14%;
    }
 }

 @media screen and (max-width:400px){
    .bg-red{
        padding: 10% 3% 28% 12%;
    }

    .
 }




