@font-face {
    font-family: 'GothamRoundedBold';
    src: url("fonts/GothamRounded-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'GothamLightRegular';
    src: url("fonts/GothamLightRegular.otf") format("opentype");
}

@font-face {
    font-family: 'LucidaGrande';
    src: url("fonts/LucidaGrande.ttf") format("truetype");
}

@font-face {
     font-family: 'lucida-grande';
     src: url('fonts/LucidaGrande.ttf');
 }

 @font-face {
     font-family: 'gotham-rounded-bold';
     src: url('fonts/GothamRoundedBold.ttf');
 }

 @font-face {
     font-family: 'abril-fatface';
     src: url('fonts/AbrilFatfaceRegular.otf');
 }

 @font-face {
     font-family: 'gotham-light';
     src: url('fonts/GothamLight.ttf');
 }

 @font-face {
     font-family: 'gotham-regular';
     src: url('fonts/GothamRounded.ttf');
 }

.grey_bg{
    background:  #F2F2F2 0% 0% no-repeat padding-box;
    padding-top: 100px;
    padding-bottom: 7%;
    padding-left: 7%;
    padding-right: 7%;
}

.img_4{
    height: 100%;
    width: 100%;
    padding: 0;
}

.heading_1d1d{
    color: #1D1D1B;
}

.our_team{
    font-family:lLucidaGrande; 
    font-size: 50px;
    
    font-weight: bold;
    padding-bottom: 16px;
}

.ot_p{
    font-family:GothamLightRegular ;
    font-size: 20px;
}

.digital{
    font-family:GothamRoundedBold ;
    padding-bottom: 24px;
    color: #D54345;
    font-weight: bold;
}

.intergration{
    font-family: GothamRoundedBold;
    font-size: 20px;
    font-weight: 700;
}
.subtitle-red-p2 {
    font-size: calc(35px + (50 - 35) * ((100vw - 300px) / (1600 - 300)));
    color: #D54345;
    font-family: LucidaGrande;
    margin: 0;
    font-weight: bold;
}

.subtitle-sub-p2 {
    font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
    font-family: gotham-light;
    padding-bottom: 2em;
    margin-bottom: 0;

}

.ul_desp{
    padding-bottom: 16px;
}

.ul_desp li{
    font-family:GothamLightRegular ;
    font-size: 20px;
    font-weight: 300;
    color: #1D1D1B;
    
}